<html>
<head>
<title>DIYA COLLEGE OF NURSING</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity=
"sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
		crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="OUR-ACCREDITATION mt-5">
<div class="accreditation">
<h4 class="text-center">OUR ACCREDITATION</h4>
<div class="container">
<div class="accreditation-imagemt-5 row">
<div class="accreditation-img col"><img  class="img-responsive-sm center-block d-block mx-auto" src="01.png"></div>
<div class="accreditation-img col"><img  class="img-responsive-sm center-block d-block mx-auto" src="02.png"></div>
<div class="accreditation-img col"><img  class="img-responsive-sm center-block d-block mx-auto" src="03.png"></div>
<div class="accreditation-img col"><img  class="img-responsive-sm center-block d-block mx-auto" src="04.png"></div>
<div class="accreditation-img col"><img  class="img-responsive-sm center-block d-block mx-auto" src="05.png"></div>
</div>
</div>
</div>
</section>


<section class="choose mt-5">
 <div class="container">
  <div class="Choose">
   <div class="Choose-head text-center">
    <h2>WHY CHOOSE US</h2>
    <p>An exciting educational experience, where the best mix of clinical training, nursing etiquette and theoretical grounding is achieved to prepare you for new age nursing careers</p>
   </div>
  <div class="Choose-content row text-center">
   <div class="Choose-content-filed col-sm .justify-content-sm-center center-block d-block mx-auto w-100">
	<img src="Placement.png">
	<h3>100% Placement Opportunities</h3>
	<p>Track record of 100 % placements at leading corporate hospitals like Columbia-Asia Hospitals</p>
   </div>
   <div class="Choose-content-filed col-sm .justify-content-sm-center center-block d-block mx-auto w-100">
   <img src="Trust.png">
	<h3>Trust for more than 19 years</h3>
	<p>DIYA network of 2000+ students and alumni across the world, sharing a passion to serve the community</p>
   </div>
   <div class="Choose-content-filed1 col-sm .justify-content-sm-center center-block d-block mx-auto">
   <img src="Approved.png">
	<h3>Approved and Recognized</h3>
	<p>Recognised and approved by INC , KNC, RGUHS, Government of Karnataka and other bodies</p>
   </div>
  </div>
  </div>
 </div>
</section>


<section class="Courselist">
<div class="container">
<div class="course-list row">
<div class="course-list-details col-sm text-center .justify-content-sm-center center-block d-block mx-auto">
<img src="B Sc Nursing.png">
<a href="#" class="btn">B.Sc.Nursing</a>
</div>
<div class="course-list-details col-sm text-center .justify-content-sm-center center-block d-block mx-auto">
<img class="GNM" src="GNM.png">
<a href="#"class="btn">GNM</a>
</div>
<div class="course-list-details col-sm text-center .justify-content-sm-center center-block d-block mx-auto">
<img src="PB B Sc.png">
<a href="#" class="btn">P.B.B.Sc.Nursing</a>
</div>
</div>
</div>
</section>


<section class="Frequently">
<div class="Frequently-content">
<h3 class="text-center">Frequently Asked Questions (FAQs)</h3>
<div class="container row ">
    <div class="panel-group group-flush col-sm .justify-content-sm-center center-block d-block mx-auto" id="accordion">
      <div class="panel panel-default border-bottom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="d-flex">
              <b class="header-title float-left">1 . Is nursing a good career choice? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>Nursing has always been considered a rewarding career. It deals with the most significant aspect of the healthcare industry – patient care. A nurse is a trained professional who provides medical assistance in the various domains of the healthcare industry, making it one of the noblest professions.</p>
		  <p>How well an individual fits into this role depends on their interest and dedication because nursing, just like other healthcare professions, requires long, tireless hours and dedication. It also requires the commitment to serve with great patience.</p>
		  <p>Apart from this, nursing has good opportunities in India and abroad, in both – the private and government sectors.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="d-flex">
              <b class="header-title float-left">2 . Which Nursing Course is the best? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" class="d-flex">
          <div class="panel-body panel-order-list">
		  <p>One can apply for a Nursing course after having completed his 12th or equivalent.</p>
		  <p>On completion of his 12th with science subjects (Physics, Chemistry & Biology) can pursue BSc Nursing.</p>
		  <p>On completion of his 12th with other subjects (arts and commerce) can pursue General Nursing and Midwifery.</p>
		  <h4>General Nursing & Midwifery: :
		  <ol start="1">
		  <li>BSc Nursing is a four-year graduation course in Nursing</li>
		  <li><b>Eligibility:</b> for science students only.</li>
		  <li>Extensive academic scope.</li>
		  <li>Students learn the aspects of assessment, planning, implementation and evaluation of patient care.</li>
		  <li>Requires practical exposure.</li>
		  <li>A four-year program with 24 weeks internship.</li>
		  </ol>
		  </h4>
		   <h4>BSc Nursing:
		  <ol start="1">
		  <li>A three-year diploma course in Nursing.</li>
		  <li><b>Eligibility:</b>  Across all streams (Science, Commerce & Arts)</li>
		  <li>Limited academic scope.</li>
		  <li>Students learn emergency response, compassion, individual care etc.</li>
		  <li>Theoretical approach.</li>
		  <li>A three-year program with 6 months internship.</li>
		  </ol>
		  </h4>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="d-flex">
              <b class="header-title float-left">3 . Is Indian Nursing Council (INC) Approval mandatory for a nursing College? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>Yes. It is mandatory for a nursing college.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="d-flex">
              <b class="header-title float-left">4 . Is Karnataka Nursing Council (KNC) Approval mandatory for a nursing College?</b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>Yes. It is mandatory for a nursing college.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="d-flex">
              <b class="header-title float-left"> 5 . Is Rajiv Gandhi University of Health Sciences (RGUHS) Approval mandatory for a nursing College? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>Yes. It is mandatory for a nursing college.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="d-flex">
              <b class="header-title float-left"> 6 . What is the Nursing foundation?</b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>The Nursing Foundation encompasses autonomous and collaborative care of individuals of all age groups, families, groups and communities, sick or healthy and in all sorts of settings and environments. It includes the promotion of health, prevention of illness and the care of sick, disabled and dying people.</p>
		  </div>
        </div>
      </div>
    </div>
	 <div class="panel-group group-flush col-sm .justify-content-sm-center center-block d-block mx-auto" id="accordion1">
      <div class="panel panel-default border-bottom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse7" class="d-flex">
              <b class="header-title float-left"> 7. Which country pays the highest salaries for nurses?
</b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>Nursing has a lot of opportunities in India and abroad.<br>
				United States of America (USA)<br>
				United Kingdom (UK)<br>
				Australia<br>
				Pay very high salaries and pay increases with experience.<br>
				Other European countries like Canada, Austria, Middle-east, Far-east and South-east etc.<br>
				pay very attractive salaries to nurses.<br>
				Most of these countries see a high demand for nurses and a lot of graduates and postgraduates from India get good opportunities consistently year after year.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse8" class="d-flex">
              <b class="header-title float-left">8. What is the salary of a government nurse? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>The salary of an entry-level staff nurse in a government hospital is in the range of Rs 30,000 – 40,000/-. The pay increases with experience.</p>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse9" class="d-flex">
              <b class="header-title float-left"> 9 . What are the ranks of nurses in India?</b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body">
		  <h5>The ranks of the nurses are as follows:
		  <ul>
		  <li>Nursing Superintendent</li>
		  <li>Nursing Supervisor</li>
		  <li>Head Nurse</li>
		 <li>Staff Nurse</li>
		  </ul>
		  </h5>
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse10" class="d-flex">
              <b class="header-title float-left"> 10 . What are the ranks of nurses in United Kingdom? </b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">
		  <h5>The ranks of the nurses are as follows:
		  <ul>
		  <li>Band VIII Matron</li>
		  <li>Band VII Co-ordinator/Manager</li>
		  <li>Band VI Team Leader</li>
		 <li>Band V Staff Nurse</li>
		  </ul>
		  </h5>
		  
		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11" class="d-flex">
              <b class="header-title float-left">11 . How does one select the best nursing college in Bangalore?</b>
              <i class="fas fa-plus float-right "></i>
            </a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>If you’re looking for the top nursing colleges in Bangalore, then the first and foremost thing you need to keep in mind is the approvals and accreditations from:</p>
		  <ul>
		  <li>INC – Indian Nursing Council</li>
		  <li>KNC – Karnataka Nursing Council</li>
		  <li>RGUHS – Rajiv Gandhi University of Health Sciences.</li>
		  </ul>
			  <p>Some of the colleges are approved by the INC – Indian Nursing Council and some colleges are approved by the KNC – Karnataka Nursing Council.
					It’s advisable to choose colleges approved by the Indian Nursing Council and the Karnataka Nursing Council and affiliated with the Rajiv Gandhi University of Health Sciences (RGUHS).
					(A lot of colleges and consultants may not convey this to you.)
					This makes it easier to get approvals for student loans and future placements in the healthcare sector. Apart from this, a lot of other factors weigh in too:</p>
			 <ul>
			  <li>The college should have a good state of the art infrastructure.</li>
			  <li>A well furnished and up-to-date library.</li>
			  <li>A well-equipped laboratory.</li>
			  <li>Qualified and well-trained faculties.</li>
			  <li>Clinical Experience.</li>
			  <li>Patient Exposure.</li>
			  <li>Tie-ups with hospitals and other healthcare firms.</li>
			  <li>Updated with the latest equipment and technology.</li>
		  </ul>
			 
			 <p>Diya College and School of Nursing, Bangalore, is approved by the Indian Nursing Council and the Karnataka Nursing Council. Also, it is affiliated with the Rajiv Gandhi University of Health Sciences.</p>

		  </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse12" class="d-flex">
              <b class="header-title"> 12 . What is the procedure to get admission to Diya College and School of Nursing, Bangalore? </b>
              <i class="fas fa-plus"></i>
            </a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">
		  <p>The procedure to get admission to Diya College and School of Nursing, Bangalore, is quite simple. Choose a nursing degree you wish to pursue. Diya offers courses in:</p>
		  <ul>
		  <li>BSc Nursing</li>
		  <li>Post Basic BSc Nursing</li>
		  <li>General Nursing and Midwifery</li>
		  </ul>
		  <p>And other add-on courses to add value to the holistic learning of a student and prepare them to face professional challenges.
			You can either walk in directly to the college or apply online by visiting.<a href="#"> Click here</a></p>
		 <p>Please ensure you meet the eligibility criteria of the course you have applied for and have the necessary documents ready.
			You can check the eligibility criteria, documents required, fees and other details of the individual courses;</p>
		  <ul>
		  <li>BSc Nursing, Bangalore <a href="#">Click here</a></li>
		  <li>Post Basic BSc Nursing, Bangalore <a href="#">Click here</a></li>
		  <li>General Nursing and Midwifery, Bangalore <a href="#">Click here</a></li>
		  </ul>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.panel-title').click(function() {
    $(this).find('i').toggleClass('fas fa-plus fas fa-minus');
  });
</script>
</section>

<section class="CONTACTUS mt-5">
<div class="container">
<div class="contact row">
<div class="contact-details col-sm .justify-content-sm-center center-block d-block mx-auto">
<h4 class="contact-head">CONTACT US</h4>
<p class="contact-para">We encourage visitors to contact us with questions and we welcome feedback and comments. We are eager to hear from you.</p>

<div class="contact-list">
<img src="Call.png"><a href="#"><b>+91 9686366002</b></a>
</div>

<div class="contact-list">
<h4 class="d-flex contact-loc-details">
<img class="contact-location" src="Location.png">
<p class="location-details">DIYA COLLEGE OF NURSING<br>
4 s Avenue, 28 A, Rammurthy Nagar Road,<br>
NRI Layout, Kalkare, Bangalore – 560042,<br>
Karnatka -India.</p></h4>
</div>

<div class="contact-list">
<img src="Mail.png"><a href="#"><b>info@diyacollege.com</b></a>
</div>
</div>
<div class="contact-form col-sm .justify-content-sm-center center-block d-block mx-auto">
<form class="quote_form " name="frmContact" method="post" action="contact.php">
	<div class="form-fileds">
                  <input type="text" name="S_name" id="S_name" placeholder="Name*" required>
                  <input type="text" name="S_phone" id="S_phone" placeholder="Mobile Number*" maxlength="10" required>
                  <input type="text" name="S_email" id="S_email" placeholder="Email address" pattern=".+@gmail\.com" required>
				  
				  <select id="course" name="course" required>
				  <option value="Select the Courses">Select the Courses</option>
				  <option value="B.sc Nursing">B.sc Nursing</option>
				  <option value="GNM">GNM</option>
				  <option value="P.B.B.Sc">P.B.B.Sc</option>
				  <option value="B.Pharm">B.Pharm</option>
				  <option value="D.Pharm">D.Pharm</option>
				  </select>

   			      <input type="submit" class="btn-primary" name="Submit" id="Submit" value="Submit">
	</div>
</form>

</div>
</div>
</div>
</section>


<section class="footer">
  <div class="foote">
    <div class="foot">
      <div class="linn">
       
          <div class="fhead row">
            <div class="menu col-sm">
              <img class="footer-logo" src="Footer Logo.png">
              <p class="text-light">The Trust's vision of offering top quality higher education solutions is ably nurtured by dedicated and accomplished trustees. Systematic execution of long cherished plans resulted in the establishment of many educational institutions in the last two decades.</p>
            </div>
            <div class="QuickLinks col-sm">
              <h3>QuickLinks</h3>
              <ul class="list-style-none">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Admission </a>
                </li>
                <li>
                  <a href="#">Facilities </a>
                </li>
                <li>
                  <a href="#">Placement </a>
                </li>
                <li>
                  <a href="#">Career </a>
                </li>
				 <li>
                  <a href="#">Contact Us </a>
                </li>
              </ul>
            </div>
            <div class="OurCourses col-sm">
              <h3>Our Courses</h3>
              <ul class="list-style-none">
                <li>
                  <a href="#">B.Sc. in Nursing </a>
                </li>
                <li>
                  <a href="#">GNM in Nursing</a>
                </li>
                <li>
                  <a href="#">P.B.B.Sc. Nursing </a>
                </li>
                <li>
                  <a href="#">B.Pharm </a>
                </li>
                <li>
                  <a href="#">D.Pharm</a>
                </li>
            </div>
			<div class="Location col-sm">
			<h3>Location</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31096.018467720965!2d77.66510563180708!3d13.035524725166953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sDIYA%20COLLEGE%20OF%20NURSING%204%20s%20Avenue%2C%2028%20A%2C%20Rammurthy%20Nagar%20Road%2C%20NRI%20Layout%2C%20Kalkare%2C%20Bangalore%20%E2%80%93%20560042%2C%20Karnatka%20-India.!5e0!3m2!1sen!2suk!4v1663655493926!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		   </div>
          </div>
        </div>
     
     
        <div class="ffoot row">
          <div class="ffoot-copy col-sm .justify-content-sm-center center-block d-block mx-auto">Copyright &copy; 2022 - All Rights Reserved.</div>
          <div class="ffoot-social col-sm .justify-content-sm-center center-block d-block mx-auto"><b>Follow Us on</b>
            <img src="Fb.png">
			<img src="Twitter.png">
		    <img src="Insta.png">
			<img src="u Tube.png">	
			<img src="Linked in.png">
          </div>
        </div>
      
    </div>
  </div>
</section>

</body>
</html>


