<html>
<head>
<title>thanks for submited</title>
<style>
body{
	background-color:#683853;
	height:100%;
	}
.thks{
	text-align:center;
	padding:150px;
	color:#fff;
	font-size:50px;
	}
a{
text-decoration:none;
color:#CE0614;
font-size:20px;
}
a:hover{
	text-decoration:underline;
	color:#17AEE7;
}
</style>
</head>
<body>
<div class="thks">
<p>Thanks for being awesome! We have received your message we would contact you later</p>
<div>Back To <a href="shifbi.html">  Home Page</a></div>
</div>
</body>
</html>